{% extends "admin/layout.html" %}
{% block javascript %}
<script src="{{url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
{% endblock %}
{% block content %}
{% include 'partials/title.html' %}
<div class="text-left" style="padding-top:2em;padding-bottom:2em">
<span>Survey name: </span>{{survey.name}}
</div>

<form method="POST" action="/dashboard/chatbot/updatequestionslist">
<!-- Project Card Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Add a brand new question</h6>
  </div>
  <div class="card-body">
      <div class="form-group">
        <input type="text" id="newQuestion" name="newQuestion" class="form-control" />
      </div>
      <div>
      <input type="submit" id="btnNewQuestion" name="btnNewQuestion" class="btn btn-primary" value="Add" />
    </div>
  </div>
</div>
<input type="hidden" id="surveyId" name="surveyId" value="{{survey.id}}"/>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Text</th>
        <th scope="col">Change order</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
    {% for row in questions %}
        <tr>
            <td>
                {{ row.ChatbotFeedbackQuestion.text }}
            </td>
            <td>
              {{ row.ChatbotFeedbackQuestion.order }}
              {% if row.ChatbotFeedbackQuestion.order > 1 %}
                <a href="{{ url_for('chatbot.update_question_order',surveyid=survey.id ,questionid=row.ChatbotFeedbackQuestion.id,direction=(row.ChatbotFeedbackQuestion.order-1)) }}" class="fa fa-lg fa-angle-up"></a>
              {% endif %}
              {% if row.ChatbotFeedbackQuestion.order < survey.questions.count() %}
                <a href="{{ url_for('chatbot.update_question_order',surveyid=survey.id ,questionid=row.ChatbotFeedbackQuestion.id,direction=(row.ChatbotFeedbackQuestion.order+1)) }}" class="fa fa-lg fa-angle-down"></a>
              {% endif %}


          </td>
            <td>
               
                <a class="btn btn-primary" href="{{ url_for('chatbot.update_question', id=row.ChatbotFeedbackQuestion.id) }}">Update text</a>
                <input type="submit" class="btn btn-danger" name="btnDelete_{{row.ChatbotFeedbackQuestion.id}}" value="Delete" />
                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endblock content %}