{% extends "admin/layout.html" %}

{% block content %}
{% include 'partials/title.html' %}
<div class="text-left" style="padding-top:2em;padding-bottom:2em">
<a href="{{ url_for('chatbot.add_survey') }}" class="btn btn-primary">Add a new survey</a>
</div>
<form method="POST" action="{{url_for('chatbot.delete_survey')}}">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Active?</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
    {% for survey in surveys %}
        <tr>
            <td>
                {{ survey.name }}
            </td>
            <td>
                {% if not survey.active %}
                <a class="btn btn-primary" href="{{ url_for('chatbot.activate_survey', id=survey.id) }}">Activate</a>
                {% else %}

                {{ survey.active }}
                {% endif %}
            </td>
            <td>
                    <a class="btn btn-primary" href="{{ url_for('chatbot.manage_survey_responses', surveyid=survey.id)}}">View responses</a>
                    <a class="btn btn-primary" href="{{ url_for('chatbot.update_survey', id=survey.id) }}">Modify</a>
                    <a class="btn btn-primary" href="{{ url_for('chatbot.manage_questions', surveyid=survey.id) }}">Manage questions</a>
                   
                    <input type="submit" class="btn btn-danger" name="delete_{{survey.id}}" value="Delete"  />
                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endblock content %}