{% extends "admin/layout.html" %}
{% block javascript %}
<script>
$(document).ready(function(){

  $(".response").click(function(evt){
    evt.preventDefault();
    $("#responseContent").text("");
    var responseid=$(this).attr('id');
    $.ajax({
      url: '/dashboard/chatbot/viewsurveyresponse/' + responseid,
      type: 'get',
      success: function( data, textStatus, jQxhr ){
        var tmpData = JSON.parse(data);
        $("#responseContent").text(JSON.stringify(tmpData, null, '\t'));
        $("#responseDialog").modal();
      },
      error: function( jqXhr, textStatus, errorThrown ){
          console.log( errorThrown );
      }
    });
  });

});
</script>
{% endblock %}
{% block content %}
{% include 'partials/title.html' %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
    {% for response in survey.responses %}
        <tr>
            <td>
                {{ response.id }}
            </td>
            <td>
                <a class="btn btn-primary response" id="{{response.id}}" href="/">View response content</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{url_for('chatbot.manage_surveys')}}">Go back</a>

<div class="modal" id="responseDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Response content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="responseContent"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}