{% extends "admin/layout.html" %}

{% block javascripts %}
{% endblock javascripts %}

{% block content %}
{% include 'partials/title.html' %}
<div class="text-left" style="padding-top:2em;padding-bottom:2em">
<a href="{{ url_for('highlights.new_highlight') }}" class="btn btn-primary">{{ _("Add a new highlight") }}</a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">{{ _("Title") }}</th>
        <th scope="col">{{ _("Description") }}</th>
        <th scope="col">{{ _("Link") }}</th>
        <th scope="col">{{ _("Image") }}</th>
        <th scope="col">{{ _("Operation") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for highlight in highlights %}
        <tr>
            <td>
                {{ highlight.title }}
            </td>
            <td>
                {{ highlight.description }}
            </td>
            <td>
                <a class="nav-link" target="_blank" href="{{ highlight.link }}">{{ highlight.link }}</a>
            </td>
            <td>
                <img style="width:50%;" src="{{ url_for('static', filename='media/highlight_images/'+highlight.image) }}">
            </td>
            <td>
                <form method="POST" action="{{ url_for('highlights.delete_highlight', highlight_id=highlight.id) }}">
                    <a class="btn btn-primary" href="{{ url_for('highlights.update_highlight', highlight_id=highlight.id) }}">{{ _("Modify") }}</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}