{% extends "layout.html" %}

{% block header %}
<header>
  <div class="container-fluid" style="padding-top:1rem;padding-bottom:1rem;background: rgb(10, 100, 82);background: radial-gradient(circle, rgba(10,100,82) 0%, rgba(10,100,82) 35%, rgba(0,0,0,1) 100%);">
   <div class="container text-center">
     <i class="icon fas fa-cubes" style="font-size:16rem"></i>
     <h1 style="font-weight: 200;font-size:4rem">{{ _("Experimental portal") }}</h1>
     <p class="h4">{{ _("An experiment on Daaas potential features") }}</p>
   </div>
  </div>
</header>
{% endblock header %}

{% block content %}

{% include 'partials/title.html' %}
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <div class="controls-top text-center">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next">
          <i class="fas fa-chevron-right"></i>
      </a>
  </div>

  <div class="carousel-inner" role="listbox">
      {% for out in output %}
          <div class="carousel-item {{ 'active' if loop.index==1 }}">
              {% for highlight in out %}
                  <div class="col-md-4">
                      <div class="card mb-2">
                          <img class="card-img-top" src="{{ url_for('static', filename='media/highlight_images/'+highlight.image) }}">
                          <div class="highlight-container">
                              <h4 class="card-title">{{ highlight.title }}</h4>
                              <p class="card-text">{{ highlight.description }}</p>
                              <a class="btn btn-primary" href="{{ highlight.link }}" target="_blank">{{ _("Read more") }}</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% endfor %}
  </div>
  
  <ol class="carousel-indicators" style="position: static;">
      {% for out in output %}
          <li data-target="#multi-item-example" data-slide-to="{{loop.index-1}}" class="{{ 'active' if loop.index==1 }}"></li>
      {% endfor %}
  </ol>
</div>
{% endblock content %}