<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ _("Experimental portal") }}</title>

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV&#x2B;i/6YWSzkz3V" rel="stylesheet" type="text/css" />


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
      <img src="{{ url_for('static', filename='media/Canada.svg') }}" style="max-height:40px" />
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.home')}}">{{ _("Home") }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('shiny.view_rshiny')}}">{{ _("RShiny") }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ _("Database example") }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{{ url_for('records.new_entry') }}">{{ _("Add record") }}</a>
              <a class="dropdown-item" href="{{ url_for('records.view_records') }}">{{ _("Manage records") }}</a>
            </div>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="dropdown-toggle btn btn-primary" href="#" id="navbarAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ _("Admin features") }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAdmin">
              <a class="dropdown-item" href="{{ url_for('admin.dashboard') }}">{{ _("Dashboard") }}</a>
              <a class="dropdown-item" href="{{url_for('admin.logout')}}">{{ _("Log out") }}</a>
            </div>         
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-primary" href="{{url_for('admin.login')}}">{{ _("Login") }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <button id="btn-lang" class="btn btn-primary" style="margin-left: 5px;">{{ _("Français") }}</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block header %}{% endblock header %}
  <div class="container my-4">
    {% block content %}{% endblock content %}
    </div>
    {% if survey: %}
  <!-- /.container -->
  <div class="container">
    <div class="row">
     <div id="Smallchat">
      <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
        <div class="Messenger_messenger">
          <div class="Messenger_header" style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">
            <h4 class="Messenger_prompt" id="chatbot_header">{{ _("Welcome") }}</h4> <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span>
          </div>
          <div class="Messenger_content">
            <div class="Messages">
              <div id="chatbot_begin">
                <p style="color:#000000">{{ _("Hi! What would you like to do?") }}</p>
                <button class="btn btn-primary" id="chatbot_showtree">{{ _("Learn more about the DaaaS system") }}</button><br/><br/>
                <button class="btn btn-primary" id="chatbot_survey">{{ _("Provide my feedback about the Portal") }}</button>
              </div>
                <div class="hiddenq" id="chatbox" style="border-style: solid;">
                    <div id="chat-box" style="color:#000000">
                    </div>
                    <div id="chat-answers" class="mb-2">
                    </div>
                    <p>
                      <a class="resetchatbot" href="#">{{ _("Let's start over") }}</a>
                    </p>
                </div>

                <form method="POST" class="form-custom hiddenq" id="feedbacksurvey" action="/">
                  {% for row in survey.questions[:-1] %}
                  <div class="form-group hiddenq" id="question_{{row.ChatbotFeedbackQuestion.id}}" >
                    <label for="textarea_{{row.ChatbotFeedbackQuestion.id}}">{{row.ChatbotFeedbackQuestion.text}}</label>
                    <input type="hidden" name="question_{{row.ChatbotFeedbackQuestion.id}}" value="{{row.ChatbotFeedbackQuestion.text}}" />
                    <textarea id="textarea_{{row.ChatbotFeedbackQuestion.id}}" name="textarea_{{row.ChatbotFeedbackQuestion.id}}" rows="5"  class="form-control"></textarea>
                    <button class="btn btn-primary">{{ _("Submit") }}</button>&nbsp;<a class="resetchatbot" href="#">{{ _("Let's start over") }}</a>
                </div>
                  {% endfor %}            
                <div class="form-group hiddenq" id="question_{{survey.questions[-1].ChatbotFeedbackQuestion.id}}">
                    <label for="textarea_{{survey.questions[-1].ChatbotFeedbackQuestion.id}}">{{survey.questions[-1].ChatbotFeedbackQuestion.text}}</label>
                    <input type="hidden" name="question_{{survey.questions[-1].ChatbotFeedbackQuestion.id}}" value="{{survey.questions[-1].ChatbotFeedbackQuestion.text}}" />
                    <!-- Email -->
                    <textarea id="textarea_{{survey.questions[-1].ChatbotFeedbackQuestion.id}}" name="textarea_{{survey.questions[-1].ChatbotFeedbackQuestion.id}}" rows="5" class="form-control" ></textarea>
                    <input type="submit" class="btn btn-primary" value="Submit" />&nbsp;<a class="resetchatbot" href="#">{{ _("Let's start over") }}</a>
                </div>
                <div class="form-group hiddenq" id="confirmation" >
                    <p>{{ _("Thank you for your time!") }}<br/>{{ _("Have a good day") }}.</p>
                    <p><a class="resetchatbot" href="#">{{ _("Let's start over") }}</a></p>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <!--===============CHAT ON BUTTON STRART===============-->
      <div class="chat_on"> <span class="chat_on_icon"><i class="fa fa-comments" aria-hidden="true"></i></span> </div>
      <!--===============CHAT ON BUTTON END===============-->
    </div>
    </div>
  </div>
  {% endif %}

  <!-- Footer -->
  <footer class="py-5">
    <div class="container text-center">
      <img src="{{ url_for('static', filename='media/sig-wht-eng.svg') }}" style="margin-right:7em"/>
      <img src="{{ url_for('static', filename='media/Canada.svg') }}" style="margin-left:7em"/>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% if survey: %}
  <script>
    var questions_answered = [];
    function chat_call(chat, message){
      if(chat != ""){
          $("#chat-box").append("<p>USER: "+chat.innerText+"</p>");
      }

      $("#chat-answers").empty();
      $.ajax({
          url:"{{ url_for('chatbot.chat_chatbot') }}",
          method: "GET",
          data: {message : message},
          success: function(result){
            questions_answered.push(message);
            let response = JSON.parse(result);
            $("#chat-box").append("<p>BOT: "+response.answer.message+"</p>")
            let questions = response.questions;
            response.questions.forEach(question => {
              if(!questions_answered.includes(question.id)){
                $("#chat-answers").append('<button class="btn btn-primary btn-answer" onclick="chat_call(this,'+question.id+')">'+question.message+'</button>&nbsp;')
              }
            });
            $(".Messages").scrollTop($(".Messages")[0].scrollHeight);
            if(!questions === undefined || !questions.length){
              chat_call("",1)
            }
          }
      });
    }

    $(document).ready(function(){
      $('.resetchatbot').click(function(evt){
        questions_answered = []
        $("#chat-box").text("");
        $("#chat-answers").text("");
        $("#chatbox").hide();
        $("#chatbot_begin").show();
        $("#feedbacksurvey").hide();
        $("#confirmation").hide();
        $("#chatbot_header").text('Welcome');
        
        {% for i in range(survey.item_count-1) %}
            $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} textarea').val("");
            $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} button').show();
            $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} a').show();
            $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} textarea').removeClass("textareadisabled");
        {% endfor %}

        {% for i in range(survey.item_count-2) %}
            $('#question_{{survey.questions[i+1].ChatbotFeedbackQuestion.id}}').hide();
        {% endfor %}

        $('#question_{{survey.questions[0].ChatbotFeedbackQuestion.id}}').show();
        $('#question_{{survey.questions[0].ChatbotFeedbackQuestion.id}} button').show();
        $('#question_{{survey.questions[0].ChatbotFeedbackQuestion.id}} textarea').removeClass("textareadisabled");

      });

      $("#chatbot_showtree").click(function(evt){
        $("#chatbot_begin").hide();
        $("#chatbox").show();
          chat_call("",1);
      });

      $("#chatbot_survey").click(function(evt){
        $("#chatbot_begin").hide();
        $("#chatbot_header").text('{{survey.survey_name}}');
        $("#feedbacksurvey").show();
      });

      $("#feedbacksurvey").submit(function(event) {
        event.preventDefault();
  
        $.ajax({
                url: '/chatbot/submitfeedbacksurvey',
                //dataType: 'json',
                type: 'post',
                //contentType: 'application/json',
                data: $("#feedbacksurvey").serialize(),
                success: function( data, textStatus, jQxhr ){
                  {% for row in survey.questions %}
                    $('#question_{{row.ChatbotFeedbackQuestion.id}}').hide();
                  {% endfor %}
                  $('#confirmation').show(800);
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });
    });

    $(".chat_on").click(function(){
        $(".Layout").toggle();

        if($('.Layout').is(':visible') && $('#confirmation').is(":not(:visible)")) {
          $('#question_{{survey.questions[0].ChatbotFeedbackQuestion.id}}').show();
          $('#question_{{survey.questions[0].ChatbotFeedbackQuestion.id}} textarea').focus();
        }

        $(".chat_on").hide(300);
    });
    
       $(".chat_close_icon").click(function(){
        $(".Layout").hide();
           $(".chat_on").show(300);
    });
    
    {% for i in range(survey.item_count-1) %}
    $("#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} button").click(function(evt) {
 evt.preventDefault();

 //$('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} textarea').prop('disabled', true);
 $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} button').hide();
 $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} a').hide();
 $('#question_{{survey.questions[i].ChatbotFeedbackQuestion.id}} textarea').addClass("textareadisabled");
{% if i < survey.item_count %}
 $('#question_{{survey.questions[i+1].ChatbotFeedbackQuestion.id}}').show(300, function(){
    $('.Messages').scrollTop(1000);
    $('#question_{{survey.questions[i+1].ChatbotFeedbackQuestion.id}} textarea').focus();
 });
 {% endif %}

});
{% endfor %}



  $("#btn-lang").click(function(){
    $.ajax({
      url : "{{url_for('main.translate')}}",
      method: "GET",
      success: function(data){
        let pathname = window.location.pathname.split('/');
        var newpathname = "";
        for(i=2; i<pathname.length; i++){
          newpathname+="/";
          newpathname+=pathname[i];
        }
        window.location.href="/"+data+newpathname;
      }
    });
  });

});
  </script>
  {% endif %}
  {% block javascripts %}{% endblock javascripts %}
</body>

</html>
