{% extends "layout.html" %}
{% block javascripts %}
<script>
    $('#reports-list').change(function(){
        $("#div-iframe").css("display", "none");
        $("#load-spin").css("display", "block");
        let selected = $(this).children("option:selected");
        let title = selected.text();
        let location = selected.val();

        $("#div-iframe h2").text(title);
        $("#tag-iframe").attr("src", "http://localhost:3838/"+location+"/");
    })

    $("#tag-iframe").on("load", function(){
        $("#div-iframe").css("display", "block");
        $("#load-spin").css("display", "none");
    });  

    $('#reports-list').trigger("change");
</script>
{% endblock javascripts %}

{% block content %}
{% include 'partials/title.html' %}
<div class="mb-4">
    <h2>{{ _("Display r-shiny report in iframe. Click on a row to view the report.") }}</h2>
    <select id="reports-list">
        {% for report in reports %}
            <option value="{{report.location}}">
                {{report.title}}
            </option>
        {% endfor %}
    </select>
</div>

<div id="load-spin" style="display: none; height: 1000px; width: 1000px;">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">{{ _("Loading...") }}</span>
    </div>
</div>
<div id="div-iframe" style="display: none;">
    <h2></h2>
    <iframe id="tag-iframe"  width="1000" height="1000">
        <p>{{ _("Your browser does not support iframes.") }}</p>
    </iframe>
</div>
{% endblock content %}