{% extends "layout.html" %}

{% block javascripts %}
<script>
    function chat_call(chat, message){
        if(chat != ""){
            $("#chat-box").append("<p>USER: "+chat.innerText+"</p>")
        }

        $("#chat-answers").empty();
        $.ajax({
            url:"{{ url_for('chatbot.chat_chatbot') }}",
            method: "GET",
            data: {message : message},
            success: function(result){
                console.log(result);
                let response = JSON.parse(result);
                $("#chat-box").append("<p>BOT: "+response.answer.message+"</p>")
                response.questions.forEach(question => {
                    $("#chat-answers").append('<button class="btn btn-primary btn-answer" onclick="chat_call(this,'+question.id+')">'+question.message+'</button>&nbsp;')
                });
            }
        })
    }

    chat_call("",1);
</script>
{% endblock javascripts %}

{% block content %}
{% include 'partials/title.html' %}
<div style="border-style: solid;">
    <div id="chat-box">
    </div>
    <div id="chat-answers" class="mb-2">
    </div>
</div>
<div>
    <a class="btn btn-primary" href="{{ url_for('chatbot.view_chatbot_graph') }}">{{ _("View the chatbot script") }}</a>
</div>
{% endblock content %}