{% extends "layout.html" %}

{% block content %}
{% include 'partials/title.html' %}
<div class="row">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>{{ _("id") }}</th>
                <th>{{ _("text") }}</th>
                <th>{{ _("Operations") }}</th>
            </tr>
        </thead>
        {% for entry in entries %}
            <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.text}}</td>
                <td>
                    <a href="{{ url_for('records.update_post', entry_id=entry.id) }}" class="btn btn-primary">{{ _("Modify") }}</a>&nbsp;
                    <form method="POST" action="{{ url_for('records.delete_post', entry_id=entry.id) }}">
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="row mt-4">
    <a href="{{url_for('records.new_entry')}}">{{ _("Add new entry") }}</a>
</div>
{% endblock content %}