{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="card cardSecondary col-sm-4">
<article class="card-body">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors[0] }}
        </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username (class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password (class_="form-control") }}
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
    </form>
</article>
</div>
</div>
{% endblock content %}
